# mutable       field   net/minecraft/class_3283        field_14227     Ljava/util/Set;
public-f net.minecraft.server.packs.repository.PackRepository f_10497_
# mutable       field   net/minecraft/class_1301        field_6156      Ljava/util/function/Predicate;
public-f net.minecraft.world.entity.EntitySelector f_20406_
# mutable       field   net/minecraft/class_4642        field_21287     Lnet/minecraft/class_6885;
public-f net.minecraft.world.level.levelgen.feature.configurations.SpringConfiguration f_68128_
# accessible    class   net/minecraft/class_3898$class_3208
public net.minecraft.server.level.ChunkMap$TrackedEntity
# accessible    class   net/minecraft/class_1058$class_5790
public net.minecraft.client.renderer.texture.TextureAtlasSprite$AnimatedTexture
# accessible    class   net/minecraft/class_4810$class_4811
public net.minecraft.world.entity.ai.behavior.CrossbowAttack$CrossbowState
# accessible    class   net/minecraft/class_1383$class_3744
public net.minecraft.world.entity.ai.goal.RangedCrossbowAttackGoal$CrossbowState
# accessible    class   net/minecraft/class_1921$class_4688
public net.minecraft.client.renderer.RenderType$CompositeState
# accessible    class   net/minecraft/class_1921$class_4687
public net.minecraft.client.renderer.RenderType$CompositeRenderType