<p><a href="https://donate.unascribed.com/?project=10"><img src="https://unascribed.com/donate-mods.svg.png" alt="Support me and my mods" width="192" height="72" /></a></p>
<p>&nbsp;</p>
{{#fabrication}}
<p>Fabrication is a large collection of vanilla tweaks and small features I wanted or thought would be neat. <em><strong>Everything is configurable.</strong></em></p>
<p>It is the Fabric counterpart to <a style="color: #ff6600;" href="https://www.curseforge.com/minecraft/mc-mods/forgery">Forgery</a>.</p>
{{/fabrication}}
{{^fabrication}}
<p>Forgery is a large collection of vanilla tweaks and small features I wanted or thought would be neat. <em><strong>Everything is configurable.</strong></em></p>
<p>It is the Forge counterpart to <a style="color: #ff6600;" href="https://www.curseforge.com/minecraft/mc-mods/forgery">Fabrication</a>. (Forgery is really a disguised version of Fabrication; it's just that mod but transformed to work under Forge.)</p>
{{/fabrication}}
<p><strong>{{feature_count}}</strong> features and counting.</p>
<p>&nbsp;</p>
<p>A list of all the feature names (check the wiki for details on what each feature does):</p>
<div class="spoiler">
{{#sections}}
	<strong>{{name}}</strong>
	<ul>
	{{#features}}
		<li>{{name}}</li>
	{{/features}}
	</ul>
{{/sections}}
</div>
<p style="padding-left: 30px;">&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>There is no rhyme or reason to the collection.</p>
<p>Most things work server-side.</p>
<p>&nbsp;</p>
<p>The config file is a classic INI for additional nostalgia and suffering.</p>
<p>&nbsp;</p>
<p>For a description of all features in the mod including screenshots and videos, <span style="font-size: 18px;"><strong>please read <a style="color: #ff6600; font-size: 18px;" href="https://unascribed.com/fabrication/">&gt;&gt; the wiki &lt;&lt;</a></strong></span></p>
<p>&nbsp;</p>
<p>Some of the things Fabrication modifies are tridents, note blocks, observers, furnace minecarts, ...</p>
<p>It also contains a facsimile of Apathetic Mobs and Hunger Strike.</p>
